        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html {
            scroll-behavior: smooth;
        }
        /* *********************/
        /* seccion I N I C I O */
        /* *********************/
        
        #inicio {
            background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo-inicio.jpg");
            background-size: cover;
            background-position: center center;
            height: 100vh;
        }
        
        #inicio .contenido header {
            background-color: rgba(0, 0, 0, .8);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }
        
        #inicio .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
        
        #inicio .contenido header .contenido-header h1 {
            text-align: center;
            color: #ff5080;
        }
        
        #inicio .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        
        #inicio .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: #fff;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }
        
        #inicio .contenido header .contenido-header nav ul li a:hover {
            color: #ff5080;
        }
        
        #inicio .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
        }
        
        #inicio .contenido header .contenido-header .redes a:hover {
            color: #ff5080;
        }
        
        #inicio .contenido header .contenido-header .seleccionado {
            color: #ff5080;
        }
        
        #inicio .contenido .presentacion {
            max-width: 1100px;
            height: 100vh;
            margin: auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } 
        #inicio .contenido .presentacion h2 {
            font-size: 65px;
            margin-bottom: 25px;
            text-align: center;
        }
        
        #inicio .contenido .presentacion h2 span {
            font-size: 25px;
            color: #ff5080;
        }
        
        #inicio .contenido .presentacion .descripcion {
            max-width: 700px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }
        
        #inicio .contenido .presentacion a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
        }
        
        #inicio .contenido .presentacion a:hover {
            background-color: #ff5080;
        }
        
        #icono-nav {
            color: #fff;
            display: none;
        }
        /* *********************/
        /* seccion S O B R E  M I */
        /* *********************/
        
        #sobremi {
            max-width: 1100px;
            margin: auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
        }
        
        #sobremi .contenedor-foto {
            max-width: 400px;
            margin-right: 80px;
        }
        
        #sobremi .contenedor-foto img {
            padding: 20px;
            width: 120%;
            border-radius: 20px;
            background-color: #f3f3f3;
        }
        
        #sobremi .sobremi {
            margin: 0 40px;
        }
        
        #sobremi .sobremi .titulo-seccion {
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #sobremi .sobremi h2 {
            font-size: 34px;
            font-weight: bold;
            margin: 20px 0;
            letter-spacing: 2px;
        }
        
        #sobremi .sobremi h2 span {
            color: #ff5080;
        }
        
        #sobremi .sobremi h3 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        
        #sobremi .sobremi p {
            font-size: 18px;
            line-height: 25px;
            color: #565656;
            margin-bottom: 12px;
        }
        
        #sobremi .sobremi a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
        }
        
        #sobremi .sobremi a:hover {
            background-color: #ff5080;
            color: #fff;
        }
        /* *********************/
        /* seccion S E R V I C I O S */
        /* *********************/
        
        #servicios {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }
        
        #servicios .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #servicios .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #servicios .fila .servicio {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }
        
        #servicios .fila .servicio:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }
        
        #servicios .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #servicios .fila .servicio ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        
        #servicios .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
        }
        /* *********************/
        /* seccion S K I L L S */
        /* *********************/
        
        .contenedor-skills {
            background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.8)), url("img/fondo-skills.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
        }
        
        .contenedor-skills .skill {
            max-width: 600px;
            margin: 30px auto;
        }
        
        .contenedor-skills .skill .info {
            display: flex;
            justify-content: space-between;
        }
        
        .contenedor-skills .skill .lista {
            display: inline-block;
            margin-right: 20px;
            height: 10px;
            width: 10px;
            background-color: #fff;
        }
        
        .contenedor-skills .skill .barra {
            background-color: #919191;
            width: 100%;
            height: 6px;
            margin: 10px 0px;
        }
        
        .contenedor-skills .skill .barra .barra-progreso1 {
            background-color: #fff;
            width: 95%;
            height: 6px;
            animation: progreso1 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso2 {
            background-color: #fff;
            width: 90%;
            height: 6px;
            animation: progreso2 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso3 {
            background-color: #fff;
            width: 90%;
            height: 6px;
            animation: progreso3 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso4 {
            background-color: #fff;
            width: 85%;
            height: 6px;
            animation: progreso4 2s forwards;
        }
        
        @keyframes progreso1 {
            0% {
                width: 0;
            }
            100% {
                width: 95%;
            }
        }
        
        @keyframes progreso2 {
            0% {
                width: 0;
            }
            100% {
                width: 90%;
            }
        }
        
        @keyframes progreso3 {
            0% {
                width: 0;
            }
            100% {
                width: 90%;
            }
        }
        
        @keyframes progreso4 {
            0% {
                width: 0;
            }
            100% {
                width: 85%;
            }
        }
        /* *********************/
        /* seccion P O R T F O L I O */
        /* *********************/
        
       /* Estilo para la sección de herramientas */
#herramientas {
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo opcional */
}

/* Estilo para el título de la sección */
.titulo-seccion {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilo para la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes en cada celda */
}

/* Estilo para las imágenes */
.grid-container img {
    width: 80%; /* Las imágenes ocuparán el 80% del ancho de la celda */
    height: auto; /* Mantiene la proporción de las imágenes */
    object-fit: cover; /* Cubre el área de la celda sin distorsionar la imagen */
    border-radius: 8px; /* Bordes redondeados opcionales */
    padding: 7px; /* Espacio interno alrededor de la imagen */
    background-color: white; /* Color de fondo para el borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional para dar profundidad */
}
          
        /* *********************/
        /* seccion C O N T A C T O */
        /* *********************/
        
        #contacto {
            padding: 100px 15px;
            background-color: #f3f3f3;
        }
        
        #contacto .titulo-seccion {
            margin-bottom: 20px;
        }
        
        #contacto .contenedor-form {
            max-width: 1100px;
            margin: auto;
        }
        
        #contacto .contenedor-form .fila {
            margin-bottom: 15px;
        }
        
        #contacto .contenedor-form .mitad {
            display: flex;
            justify-content: space-between;
        }
        
        #contacto .contenedor-form input,
        #contacto .contenedor-form textarea {
            padding: 20px;
            border-radius: 20px;
            border: none;
            border: 1px solid #919191;
        }
        
        #contacto .contenedor-form .mitad input {
            width: 48%;
        }
        
        #contacto .contenedor-form .input-full {
            width: 100%;
        }
        
        #contacto .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #contacto .btn-enviar {
            display: block;
            margin: auto;
            cursor: pointer;
            transition: .5s;
            padding: 10px 15px !important;
        }
        
        #contacto .btn-enviar:hover {
            background-color: #ff5080;
            color: #fff;
        }
        /* *********************/
        /* seccion F O O T E R */
        /* *********************/
        
        footer {
            background-color: #333; /* Color de fondo del footer */
            color: white; /* Color del texto */
            text-align: center; /* Centra el texto */
            padding: 20px; /* Espacio interno */
            position: relative; /* Posicionamiento relativo */
            width: 100%; /* Asegura que el footer ocupe todo el ancho */
            bottom: 0; /* Asegura que el footer esté al final de la página */
        }
        
        .redes {
            margin-top: 10px; /* Espacio entre el texto y los íconos de redes sociales */
        }
        
        .redes a {
            color: white; /* Color de los íconos */
            margin: 0 10px; /* Espacio entre los íconos */
            text-decoration: none; /* Elimina el subrayado de los enlaces */
            font-size: 1.5em; /* Tamaño de los íconos */
        }
        
        .redes a:hover {
            color: #ddd; /* Color de los íconos al pasar el mouse */
        
            /* seccion SOBRE MI */
            #sobremi {
                padding: 50px 0;
                display: block;
            }
            #sobremi .contenedor-foto {
                max-width: 200px;
                margin: auto;
            }
            #sobremi .contenedor-foto img {
                padding: 8px;
            }
            #sobremi .sobremi .titulo-seccion {
                text-align: center;
            }
            #sobremi .sobremi h2 {
                font-size: 25px;
                text-align: center;
            }
            /* seccion MIS SERVICIOS */
            #servicios {
                padding: 50px 15px;
            }
            #servicios .fila {
                display: block;
            }
            #servicios .fila .servicio {
                margin: 10px auto;
            }
            /* seccion HABLIDADES MI */
            .contenedor-skills {
                padding: 50px 20px;
            }
            /* seccion PORTFOLIO */
            #portfolio {
                padding: 50px 0;
            }
            #portfolio .fila {
                display: block;
            }
            #portfolio .fila .proyecto {
                margin: 10px auto;
            }
            /* seccion CONTACTO */
            #contacto {
                padding: 50px 15px;
            }
            #contacto .contenedor-form .mitad {
                margin-bottom: 15px;
                display: block;
            }
            #contacto .contenedor-form .mitad input {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        #experiencia {
            padding: 100px 15px;
            text-align: center;
            background-color: #f3f3f3;
        }
        
        #experiencia .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }
        
        #experiencia .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #experiencia .fila .servicio {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }
        
        #experiencia .fila .servicio:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }
        
        #experiencia .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #experiencia .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        
        #experiencia .fila .servicio hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #experiencia .fila .servicio ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        
        #experiencia .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
        }
        
        .contact-info {
            text-align: center; /* Centra el texto dentro del contenedor */
            margin: 20px; /* Espacio alrededor del contenedor */
        }
        
        .contact-info ul {
            list-style-type: none; /* Elimina los puntos de la lista */
            padding: 0; /* Elimina el padding por defecto */
            margin: 0; /* Elimina el margin por defecto */
        }
        
        .contact-info li {
            margin: 10px 0; /* Espacio entre los elementos de la lista */
            font-size: 1.2em; /* Tamaño de fuente opcional */
        }